{% extends "base.html" %}

{% block script %}
    function confirmDialog(callback){
       $('<div>').simpledialog2({
          mode: 'button',
          buttonPrompt: 'Are you sure?',
          buttons : {
            'Yes': {
              click: function () { 
                $('#buttonoutput').text('Yes');
                callback(true);
              }
            },
            'No': {
              click: function () { 
                $('#buttonoutput').text('No');
                callback(false)
              },
              icon: "delete",
              theme: "c"
            }
          }
        })

    }
    $(document).on('pageinit', function() {
      /*$("#waterForm").submit(function(e){
          e.preventDefault();
          var form = this;
          confirmDialog(function(result){
              if (result)
                 form.submit(); // submit bypassing the jQuery bound event
          });
      });  */
    });    
    $(document).ready(function(){
    });
{% endblock %}

{% block content %}

<div data-role="page">
          <form method="POST" action="/" id="lightForm">
            {% csrf_token %}
             <input type="hidden" name="turn_light" value="{% if turn_on_light %}1{% else %}0{% endif %}" />
             <button id="lightButton" type="submit"> {% if turn_on_light %}Light ON{% else %}Light OFF{% endif %}</button>
          </form>
  
  <div data-role="main" class="ui-content">
    <!-- data-count-theme="c"-->
    <ul data-role="listview" data-count-theme="c">
      {% for sensor,value in sensors.items %}
         <li><a href="/data/{{ sensor }}">{{ sensor }} <span class="ui-li-count">{{ value }}</span></a></li>
      {% endfor %}
    </ul>
  </div>
<form method="POST" action="/" id="waterForm" onsubmit="return confirm('Are you sure you want to water?')">
  {% csrf_token %}
   <input type="hidden" name="turn_water" value="1" />
   <button id="waterButton" type="submit">Water</button>
</form>
  
</div> 



{% endblock %}
